body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.element {
  width: 150px;
  height: 150px;
  background-color: orange;
  /* transition-duration: 0.8s;
  transition-property: background-color height;
  transition-timing-function: cubic-bezier(0, 2.01, 0.84, 0.17);
  transition-delay: 2s; */
  transition: all 1s ease-in-out 0.3s;
}

.element:hover {
  /* width: 400px;
  height: 400px; */
  transform: scale(1.5, 1.5);
  background-color: aqua;
}
