* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  background-color: #ecf2f8;
}

h2 {
  font-weight: 700;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  width: min(95%, 70rem);
  margin: 0 auto;
}

.testimonial {
  font-size: 0.81rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 2.5rem 3.75rem 3rem -3rem #48556a;
}
